.versus-screen {
    text-align: center;
    background-image: url("../assets/versus.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    color: #ffffff;
}
.versus-screen.replaced {
    background-image: url("../assets/characters-icons/pass.jpeg");
}

.player-container {
    display: grid;
    align-self: end;
    grid-template-columns: 25% 50% 25%;
}

.versus-title {
    color: #424542;
    font-size: xxx-large;
}

.player-model {
    width: 150px;
    height: 100%
}

.versus-model-image {
    width: 24vw;
    height: 75vh;
}

.vs-label {
    width: 100%;
    height: 100%;
    color: 	#5C4033;
    font-family: "Mortal Kombat 3", serif;
    font-size: 70px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.icon {
    width: 60px;
    height: 60px;
    border: 5px solid #424542;
    background-color: #000;
    background-size: cover;
    background-image: url("src/assets/characters-icons/mk.jpeg");
    margin: 0 5px;
}

.replaced-icon {
    width: 60px;
    height: 60px;
    border: 5px solid #424542;
    background-color: #000;
    text-align: center;
    color: white;
    margin: 0 5px;
}